{{#partial "content"}}

    <p>Selected Hero</p>
    <p>{{ selectedHero.name }}</p>

    <p>AGED</p>
    <p>{{ selectedHero.age }}</p>

    <p>Special Power</p>
    <p>{{ selectedHero.power }}</p>

    <p>Weakness</p>
    <p>{{ selectedHero.weakness }}</p>

{{/partial}}

{{> layout.hbs}}