{{#partial "content"}}
    <p>Selected Hero</p>
    <p>{{hero.name}}</p>
    <p>AGED</p>
    <P>{{hero.name}}</P>
    <p>Special Power</p>
    <p>{{hero.power}}</p>
    <p>Weakness</p>
    <P>{{hero.weakness}}</P>
{{/partial}}