{{#partial "content"}}
    <h1>ALL SQUADS</h1>
    {{#if allSquads}}
        {{#each allSquads}}
            <p>Squad Name</p>
            <p>{{name}} <a href="/squads/{{id}}">View Squad Details</a> </p>
        {{/each}}
        <p class="test-muted"><a href="/squads/delete">DELETE ALL SQUADS</a> </p>
    {{else}}
        <p>No Available Squads</p>
    {{/if}}
{{/partial}}
{{> layout.hbs}}